<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Service Manager</vendor>
  <vendor_url>https://example.org/servicemanager</vendor_url>

  <action id="org.freedesktop.systemd1.manage-units">
    <description>Manage system services</description>
    <description xml:lang="nl">Systeemservices beheren</description>
    <message>Authentication is required to manage system services</message>
    <message xml:lang="nl">Authenticatie is vereist om systeemservices te beheren</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.imply">org.freedesktop.systemd1.manage-unit-files</annotate>
  </action>

</policyconfig>
